.user-container {
    display: flex;
    height: 2rem;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    background-color: gray;

    .user-icon {
        width: 2rem;
        height: 2rem;
    }

    .horizontal-gap {
        flex-grow: 1;
    }

    .menu-icon {
        align-self: flex-end;
    }

    .functions-wrapper {
        position: absolute;
        padding: 1rem;
        right: 1rem;
        background-color: grey;

        ul {
            padding-left: 0;
        }

        & li {
            list-style: none;
        }
    }

    .function-list {
        // display: none;
    }
}