.title {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

.row-container {
    display: flex;
    align-items: center;

    &.body {
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-color: lightgrey;
        padding: 1rem;

        .id-wrapper {
            display: flex;
            justify-content: center;

            & img {
                margin-right: 1rem;
                width: 2rem;
                height: 2rem;
            }
        }

        .action-wrapper>* {
            margin-left: 0.5rem;
            font-size: 1.25rem;
        }
    }

    &.header {
        color: black;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &>* {
        flex: 1;
    }
}