.page-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    .page-size {
        border: solid 2px gray;
        border-radius: 0.5rem;
        display: flex;

        & .selected-page {
            background-color: gray;
            color: white;
        }

        &>* {
            border-left: solid 1px gray;
            border-right: solid 1px gray;
            padding: 0.5rem;
        }
    }

    .page-numbers {
        border: solid 2px gray;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;

        & select {
            border: none;
        }

        &>* {
            border-left: solid 1px gray;
            border-right: solid 1px gray;
            padding: 0.5rem;
        }
    }
}